<!DOCTYPE html>
<html lang="en">
<head>
     
</head>
<body>
    <h3> Student Information </h3>
    <div>
        <form action="http://localhost:5000/result" method="post">

            <label for="name"> Enter your name: </label>
            <input type="text" name="name"> 
            <br> 

            <label for="id"> Enter your ID: </label> 
            <input type="number" name="id"> 
            <br> 

            <label for="address"> Enter your address </label>
            <input type="text" name="address"> 
            <br> 
            
            <input type="submit" value="submit"> 

        </form>
    </div>
    
</body>
</html>


